<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodHero"
        tools:targetApi="31">
        
        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BloodHero.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Auth Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.BloodHero.Auth" />
            
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.BloodHero.Auth" />
            
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.BloodHero.Auth" />
            
        <activity
            android:name=".ProfileSetupActivity"
            android:exported="false" />
        
        <!-- Main Activities -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
            
        <activity
            android:name=".activities.CampaignsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.DonationHistoryActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.AchievementsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.LeaderboardActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.ProfileActivity" />
            
        <activity
            android:name=".activities.NotificationSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activities.ProfileActivity" />
            
        <activity
            android:name=".activities.HelpSupportActivity"
            android:exported="false"
            android:parentActivityName=".activities.ProfileActivity" />
            
        <activity
            android:name=".activities.CampaignMapActivity"
            android:exported="false"
            android:parentActivityName=".activities.CampaignsActivity" />
            
        <activity
            android:name=".activities.BloodCompatibilityActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.MyAppointmentsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <!-- Admin Activities -->
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.AdminAppointmentsActivity"
            android:exported="false"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <activity
            android:name=".activities.AdminUsersActivity"
            android:exported="false"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <activity
            android:name=".activities.AdminDonationsActivity"
            android:exported="false"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <activity
            android:name=".activities.AdminBadgesActivity"
            android:exported="false"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <activity
            android:name=".activities.AdminAnalyticsActivity"
            android:exported="false"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <activity
            android:name=".activities.QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.AdminDashboardActivity" />
            
        <!-- New Features -->
        <activity
            android:name=".activities.RewardsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.BloodRequestsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
            
        <activity
            android:name=".activities.BloodJourneyActivity"
            android:exported="false"
            android:parentActivityName=".activities.DonationHistoryActivity" />
        
        <!-- File Provider for Camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
            
    </application>

</manifest>